doctype html
html
  head
    //- title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/main.css')
    //- link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    include ../includes/nav

    block feature

    block content

    footer
      p UUU is pronounced "you"

    block scripts
      //- script(src="/scripts.js")
